.comparison-container {
  position: relative;
  width: 810px;
  height: 1200px;
  position: relative;
  overflow: hidden;
}

.bottom-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: auto;
  opacity: 90%;
}

.top-image {
  position: absolute;
  top: 440px;
  left: 68px;
  width: 810px;
  height: 644px;
  opacity: 90%;
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 50% 100%);
}


/* Add or update your existing CSS with these styles */
.slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /* Updated styles for better visibility */
  top: 0;
  left: 25%;
  width: 2px; /* Make the slider thicker */
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  user-select: none;
}

.pill {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px; /* Width of the pill */
  height: 80px; /* Height of the pill */
  background-color: white; /* Color of the pill */
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.pill-text {
  font-family: sans-serif;
  width: 40px;
  font-size: 16px;
  color: black; /* Color of the text */
  justify-content: center;
  align-items: center;
}